// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

input {
    keyboard {
        xkb {
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="95%"
}

cursor {
    xcursor-theme "Breeze_Obsidian"
    xcursor-size 22
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-2" {
    mode "1920x1080@120.030"
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 0
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#3573a3"
        inactive-color "#505050"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
        inactive-color "#000F"
    }

    struts {
        left 3
        right 3
        top 3
        bottom 3
    }
}

spawn-at-startup "pipewire"
spawn-at-startup "mako"
spawn-at-startup "batsignal" "-p"
spawn-at-startup "foot" "--server"

spawn-at-startup "bash" "/home/dm/Documents/dot/scripts/monitor.sh"
spawn-at-startup "bash" "/home/dm/Documents/dot/scripts/wallpaper.sh"

spawn-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Material-Black-Blueberry'"
spawn-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'papirus-icons'"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

hotkey-overlay {
    skip-at-startup
}

//spawn-at-startup "xwayland-satellite"
environment {
    DISPLAY ":0"

    QT_QPA_PLATFORM "wayland"
    XCURSOR_SIZE "24"
    LIBVA_DRIVER_NAME "nvidia"
    GBM_BACKEND "nvidia-drm"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    CLUTTER_BACKEND "wayland"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "niri"

    QT_STYLE_OVERRIDE "kvantum"
    GTK_THEME "Material-Black-Blueberry"
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+return hotkey-overlay-title="Open a Terminal: foot" { spawn "footclient"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/volume.sh" "raise"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/volume.sh" "lower"; }
    XF86AudioMute        allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/volume.sh" "mute"; }

    Mod+F1 allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/kb_brightness.sh" "0"; }
    Mod+F2 allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/kb_brightness.sh" "1"; }
    Mod+F3 allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/kb_brightness.sh" "2"; }
    Mod+F4 allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/kb_brightness.sh" "3"; }

    Mod+F7 allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/brightness.sh" "down"; }
    Mod+F8 allow-when-locked=true { spawn "/home/dm/Documents/dot/scripts/brightness.sh" "up"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-workspace-down; }
    Mod+Up    { focus-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+J     { focus-column-left; }
    Mod+K     { focus-workspace-down; }
    Mod+I     { focus-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-column-to-workspace-down; }
    Mod+Shift+Up    { move-column-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Shift+J     { move-column-left; }
    Mod+Shift+K     { move-column-to-workspace-down; }
    Mod+Shift+I     { move-column-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+M { quit; }
    Mod+Shift+P { power-off-monitors; }
}
